$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

@keyframes ball {
    0%,
    40%,
    80% {
      transform: translateY(0);
    }
  
    0% {
      opacity: 0;
    }
    20% {
      transform: translateY(-30px);
      opacity: 1;
    }
    60% {
      transform: translateY(-15px);
    }
  }
  @mixin tablets {
    @media screen and (max-width: $tablets) {
      @content;
    }
  }
  
  @mixin phones {
    @media screen and (max-width: $phones) {
      @content;
    }
  }
@mixin wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    min-height: 655px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: content-box;
    @include tablets {
        max-width: 768px;
    }
}
@mixin input {
    border-style: none;
    border-radius: 0.3rem;
    height: 2.2rem;
}
@mixin menu-buttons {
    font-family: ubunturegular;
    font-weight: 500;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.7rem;
}
@mixin point-bar {
    content: "";
    display: inline-block;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
}
@mixin headline {
    font-family: gagalinregular;
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
}



@mixin ingredients-headline {
    color: #2f3234;
    font-family: lifehackmedium;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.65rem;
    letter-spacing: -0.6px;
}
@mixin ingredients-content {
    opacity: 0.8;
    color: #2f3234;
    font-family: ubunturegular;
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.5rem;
}
@mixin avatar {
    display: block;
    box-sizing: content-box;
    background-position: center center;
    background-size: cover;
    filter: grayscale(100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    font-family: 'ubunturegular', sans-serif;
    height: 100%;
    @include tablets {
        font-size: 14px;
    }
    @include phones {
        font-size: 12px;
    }
}
ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style-type: none;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    @include tablets {
        min-width: 0;
    }
}
.burgers-intro {
    position: relative;
    @include wrapper;
    background-image: linear-gradient(rgba(0,0,0, .31),rgba(0,0,0, .31)), 
    url('../../img/texture.png'), url('../../img/video-bg.png');
    &__main {
        max-width:1100px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablets {

        }
    }
}
.visible {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #2f3234;
}
.hide-menu {
    display: none;
}
.burgers-menu-closed {
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    position: relative;
    border: none;
    @include tablets {
        margin-top: 0.7rem;
        margin-right: 0;
    }
    @include phones {
        margin-top: 0.3rem;
        margin-right: 0.7rem;
    }
    &:before, &:after {
        top: 0.5rem;
        position: absolute;
        left: 0.8rem;
        content: ' ';
        height: 1rem;
        width: 2px;
        background-color: #ffffff;
        }
        &:before {
        transform: rotate(45deg);
        }
        &:after {
        transform: rotate(-45deg);
        }
}
.hide__list {
    display: flex;
    height: 65%;
    padding: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &__item {
        text-align: center;
        padding-bottom: 1rem;
        &::before {
            content: "";
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-color: #ffffff;
            border-radius: 50%;
            vertical-align: super;
            margin-right: 1rem;
        }
        &-link {
            text-decoration-line: none;
            color: #ffffff;
            font-size: 2rem;

        }
    }
}
.header {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 95%;
    @include tablets {
        justify-content: flex-end;
        max-width: 48rem;
        position: relative;
    }
    &-hide {
        margin-top: 1.5rem;
        @include tablets {
            min-width: 95%;
            margin-top: 0;
        }
        @include phones {
            margin-top: 1.5rem;
        }
    }
}
.menu {
    width: 75%;
    margin-top: 1.5%;
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__item {
            &-link {
                font-size: 0.65rem;
                font-family: ubunturegular;
                font-weight: 500;
                line-height: 1.8rem;
                text-transform: uppercase;
                color: #ffffff;
                text-decoration-line: none;
                text-align: start;
            }
            
            flex: .4;
            list-style-type: none;
            cursor: pointer;
            &:nth-child(6) {
                flex:.7;
            }
            &:first-child {
                flex: .3;
                &::before{
                    display: none;
                }
            }
            &::before {
                vertical-align: sub;
                margin-right: 13%;
                @include point-bar;
                position: static;
            }
        }
    }
    @include tablets {
          display: none;  
    }
    &__order {
        margin-right: 3rem;
        margin-top: 1.5%;
        @include menu-buttons;
        background-color: #e45028;
        width: 6rem;
        height: 2rem;
        border-radius: 0.4rem;
        text-align: center;
    }

}
.burgers-menu{
    position: fixed;
    right: 2rem;
    @include tablets {
        top: 1.5rem;
    }
    @include phones {
        top: 2.5rem;
    }
    &-button {
        background-color: #fff;
        border-style: none;
        display: none;
        margin-left: 2%;
        margin-top: 4.5%;
        width: 1.5rem;
        height: 0.2rem;
        position: relative;
        background-color: #ffffff;
        border-radius: 0.4rem;
        @include tablets {
            display: block;
        }
        &::after {
            margin-top: -0.5rem;
            position: absolute;
            content: "";
            display: block;
            width: 1.5rem;
            height: 0.2rem;
            background-color: #ffffff;
            border-radius: 0.4rem;
        }
        &::before {
            margin-top: 0.3rem;
            position: absolute;
            content: "";
            display: block;
            width: 1.5rem;
            height: 0.2rem;
            background-color: #ffffff;
            border-radius: 0.4rem;
        }
    }
}

.logo {
    width: 6rem;
    height: 6rem;
    margin-right: 2%;
    @include tablets {
        position: absolute;
        top: 0;
        left: 0;
    }
}
.container {
    margin: 0 auto;
    height: 90%;
    width: 95%;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--main {
        justify-content: space-between;
    }
    @include tablets {
        width: 95%;
        height: 100%;
    }
    @include phones {
        width: 90%;
        height: 90%;
        justify-content: center;
    }
}
.sidebar {
    position: fixed;
    top: 80px;
    right: 45px;
    @include tablets {
        display: none;
    }
    &__list {
        padding: 0;
        display: flex;
        flex-flow: column;
        &-item {
            display: inline-block;
            position: relative;
            list-style: none;
            margin-bottom: 10px;
            width: 0.9rem;
            height: 0.9rem;
            border-radius: 50%;
            border: 1px solid transparent;
            cursor: pointer;
            &::before {
                @include point-bar;
            }
            &:hover {
                border-color: #ffffff;
            }
        }
        &-item--active {
            display: inline-block;
            position: relative;
            border: 1px solid #ffffff;
            &::before {
                @include point-bar;
            }
        }
    }
}
.main {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}
.main-image {
    width: 50%;
    &__modified {
        display: block;
        width: 100%;
    }
    @include tablets {
        width: 90%;
    }
    @include phones {
        width: 80%;
    }
}

.wellcome-block {
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    @include tablets {
        width: 100%;
        text-align: center;
        max-width: 26rem;
    }
    &__first {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        color: #f9b43b;
        @include headline;
    }
    &__second {
        box-sizing: content-box;
        margin: 0;
        color: #ffffff;
        font-family: lifehackmedium;
        font-weight: 500;
        letter-spacing: -1.63px;
        font-size: 3.5rem;
        text-transform: none;
    }
}
.scroll-button{
    margin: 0 auto;
    display: block;
    height: 5rem;
    cursor: pointer;
    &:hover {
        animation: ball 1s;
        animation-iteration-count:1;
    }
    &__block {
        width: 1.85rem;
        height: 3rem;
        display: block;
    }
}
.webest {
    @include wrapper;
    background-image: url('../../img/bg.png');
    @include tablets {
        background-image: url('../../img/bg-webest768.png');
    }
    &__main {
        @include wrapper;
    }
}
.headline-webest {
    margin: 0 auto;
    @include headline;
    font-size: 4.5rem;
    color: #2f3234;
    @include tablets {
        font-size: 3.5rem;
    }
    @include phones {
        font-size: 3rem;
        margin-top: 15%;
    }
}
.ingredients {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    @include phones {
        flex-direction: column;
    } 
}

@each $sizes in (meat, made, nature) {
    .ingredients__#{$sizes}-img {
        width: 7.5rem;
        flex: 1 0 auto;
        margin: 0 auto;
        &-svg {
            display: inline-block;
            width: 90%;
            height: 58%;
        }
    }
}

@each $ingredients-array in (meat, made, nature) {
    .ingredients__#{$ingredients-array}-headline {
            @include ingredients-headline;
            text-align: center;
            @include phones {
                text-align: start;
                margin-left: 5%;
            }
    }
}
@each $ingredients-array in (meat, made, nature) {
    .ingredients__#{$ingredients-array}-content {
            @include ingredients-content;
            text-align: center;
            @include phones {
                text-align: start;
                margin-top: 5%;
            }
    }
}
@each $ingredients-array in (meat, made, nature) {
    .ingredients__#{$ingredients-array} {
            display: flex;
            flex-flow: column;
            text-align: center;
            margin-top: 4rem;
            @include tablets {
                padding: 0.5rem;
            }
            @include phones {
                max-height: 30%;
                margin-top: 2rem;
                flex-direction: row;
            }
    }
}
.burgers-slider {
    @include wrapper;
    background-image: url('../../img/burgers-slider-bg.png');
    &__main {
        margin: 0 auto;
        height: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablets {
            max-width: 768px;
            width: 95%;
        }
    }
}
.slider {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    @include tablets {
        height: 90%;
        align-items: center;
    }
    @include phones {
        height: 90%;
    }
    &__scroll-btn-left {
        display: inline-block;
        width: 2.5rem;
        height: 6%;
        text-decoration: none;
        box-sizing: content-box;
        background-color: transparent;
        border: none;
        &-svg {
            transform: rotate(90deg);
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    &__scroll-btn-right {
        display: inline-block;
        width: 2.5rem;
        height: 6%;
        text-decoration: none;
        box-sizing: content-box;
        background-color: transparent;
        border: none;
        &-svg {
            transform: rotate(-90deg);
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    &__wrapper {
        position: relative;
        overflow: hidden;
        width: 90%;
        display: flex;
        flex-direction: row;
        height: 90%;
        justify-content: center;
    }
    &__list {
        right: 0;
        transition:  .6s;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        @include tablets {
            height: 100%;
        }
        @include phones {
            height: 100%;
        }
    }
    &__main {
        min-width: 100%;
        display: flex;
        flex-direction: row;
        @include tablets {
            flex-flow: column;
            align-items: center;
            justify-content: space-around;
        }
        @include phones {
            justify-content: center;
        }
        &__image-block {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include tablets {
                width: 100%;
                position: relative;
                height: 50%;
            }
            @include phones {
                width: 100%;
                height: 50%;
                position: relative;
            }
            &-imgfile {
                display: inline-block;
                
                @include tablets {
                    margin: auto;
                    width: 60%;
                    margin-top: 2rem;
                }
                @include phones {
                    margin-top: 7rem;
                    width: 90%;
                }
                &-src {
                    display: block;
                    width: 100%;
                    @include tablets {
                        display: block;
                        width: 100%;
                    }
                }
            }
            &-contains {
                position: relative;
                background-color: #f08c33;
                box-sizing: content-box;
                width: 4rem;
                height: 4rem;
                text-align: center;
                display: flex;
                flex-direction: column-reverse;
                color: #ffffff;
                padding: 0.5rem 0.8rem;
                border-radius: 0.3rem;
                transition: .7s;
                cursor: pointer;
                @include tablets {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 3rem;
                    height: 3rem;
                }
                @include phones {
                    width: 2.5rem;
                    height: 2.5rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding-right: 1.2rem;
                }
                &:hover {
                    background-color: #e45028;
                    & .slider__main__image-block-contains-text {
                        transition: .7s;
                        height: 20rem;
                    }
                }
                &-svg {
                    display: block;
                    margin: 0 auto;
                    width: 3rem;
                    height: 3rem;
                    @include phones {
                        margin-left: 0.3rem;
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
                &-text {
                    transition: .7s;
                    height: 0;
                    overflow: hidden;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    top: 0;
                    left: 100%;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(255, 255, 255, 0.9);
                    width: 16.875rem;
                    &-ingredients {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        color: #2f3234;
                        &-svg {
                            display: inline-block;
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
            }
            &-kkal {
                width: 4rem;
                height: 4rem;
                position: relative;
                @include tablets {
                    position: absolute;
                    top: 0;
                    left: 90%;
                    width: 3rem;
                    height: 3rem;
                }
                @include phones {
                    position: absolute;
                    top: 0;
                    left: 90%;
                    width: 2rem;
                    height: 2rem;
                    font-size: 0.8rem;
                }
                &-svg{
                    width: 100%;
                    height: 100%;
                }
                &-counter {
                    position: absolute;
                    text-align: center;
                    top: 60%;
                    bottom: 0;
                    left: 25%;
                    right: 0;
                    width: 1.9rem;
                    height: 2.3rem;
                    opacity: 0.5;
                    color: #ffffff;
                    font-family: gagalinregular;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.7rem;
                    @include tablets {
                        top: 40%;
                    }
                    @include phones {
                        font-size: 0.8rem;
                        line-height: 1.4rem;
                        top: 44%;
                        left: 6%;
                    }
                }
            }
        }
        &__description {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include phones {
                width: 100%;
            }
            @include tablets {
                width: 90%;
                align-items: center;
            }
            &-headline {
                text-align: center;
                @include headline;
                color: #ffffff;
                margin-bottom: 3%;
                @include phones {
                    font-size: 3rem;
                    margin-left: 2%;
                    margin-right: 3%
                }
            }
            &-text {
                color: #ffffff;
                font-family: ubunturegular;
                font-size: 0.85rem;
                font-weight: 300;
                line-height: 1.5rem;
                margin-bottom: 3%;
                @include tablets {
                    margin-left: 2%;
                    text-align: center;
                }
            }
            &-price {
                @include headline;
                color: #e45028;
                @include phones {
                    font-size: 2.5rem;
                }
                &-rub   {
                    font-size: 1.9rem;
                    @include phones {
                        font-size: 1.4rem;
                    }
                }
                &__order {
                    text-decoration-line: none;
                    @include menu-buttons;
                    background-color: #e45028;
                    padding: 0.9rem;
                    border-radius: 0.3rem;
                    letter-spacing: 0.0625rem;
                    font-size: 0.9rem;
                    @include phones {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}
.feedback {
    height: 100vh;
    min-height: 655px;
    @include tablets {
        max-width: 768px;
    }
}
.main-feedback {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.feedback-reviews {
        position: relative;
        @include avatar;
        width: 25%;
        height: 50%;
        @include tablets {
            width: 50%;
            height: 25%;
        }
        &:hover {
            .feedback-container {
            transition: .6s;
            opacity: 1;
        }
    }
}
@each $person in (1, 2, 3, 4, 5, 6, 7, 8) {
    .feedback-reviews:nth-child(#{$person}) {
        background-image: url('../../img/#{$person}-avatar.png');
    }
}
.feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
    text-align: left;
    padding: 10% 8%;
    @include phones {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-username{
        display: block;
        margin-left: 15%;
        color: #ffffff;
        font-family: gagalinregular;
        font-size: 1rem;
        font-weight: 400;
        line-height: 28.11px;
        letter-spacing: 1.5px;
    }
    &-content{
        max-height: 40%;
        overflow: hidden;
        display: block;
        transform: translateY(20%);
        margin-left: 15%;
        color: #ffffff;
        font-family: ubunturegular;
        font-size: 0.8125rem;
        font-weight: 300;
        line-height: 24px;
        @include tablets {
            max-height: 30%;
        }
        cursor: pointer;
        @include phones {
            display: none;
        }
    }
    &-button {
        text-align: center;
        display: block;
        margin-left: 15%;
        border-style: none;
        box-sizing: border-box;
        height: 2rem;
        max-height: 2.5rem;
        width: 50%;
        background-color: #2f3234;
        border-radius: 5px;
        cursor: pointer;
        color: #ffffff;
        font-family: ubunturegular;
        font-size: 0.8125rem;
        font-weight: 500;
        line-height: 30px;
        text-transform: uppercase;
        @include phones {
            width: 55%;
            height: 25%;
        }
    }
}
.team {
    @include wrapper;
    background-image: url('../../img/team-layer.png');
    position: relative;
    &-block {
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        @include tablets {
            left: 0;
            width: 100%;
        }
    }
    &-block__content {
        width: 70%;
        height: 85%;
        margin: 10% 20% 10% 10%;
        @include tablets {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-headline {
            @include headline;
            color: #f9b43b;
            text-align: start;
            @include tablets {
                text-align: center;
            }
        }
        &-accordeon {
            height: 100%;
            &__list {
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                @include tablets {
                    align-items: center;
                    justify-content: center;
                }
                &-item {
                    overflow: hidden;
                    flex-direction: column;
                    @include tablets {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &__photo {
                        overflow: hidden;
                        transition: height .6s;
                        transform: translateY(5%);
                        height: 0;
                        float: left;
                        position: relative;
                        width: 30%;
                        @include tablets {
                            margin: 0 auto;
                        }
                        &:before {
                            content: "";
                            display: block;
                            padding-top: 100%; 
                        }
                        &-photofile {
                            width: 6rem;
                            height: 6rem;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background-position: 61% center; 
                            background-repeat: no-repeat;
                            background-size: cover; 
                            border-radius: 50%;
                            @include tablets {
                                margin: 0 auto;
                            }
                        }
                    }
                    &--active {
                        & .team-block__content-accordeon__list-item{
                            &-name {
                                color: #f9b43b;
                                &::before {
                                    transition: .6s;
                                    transform: rotate(180deg);
                                    border-bottom-color: #f9b43b;
                                }
                            }
                        }
                    }
                    &-name {
                        width: 100%;
                        text-align: left;
                        border-style: none;
                        background-color: transparent;
                        color: #ffffff;
                        font-family: gagalinregular;
                        font-size: 0.8125rem;
                        letter-spacing: 0.0625rem;
                        font-weight: 400;
                        line-height: 1.75rem;
                        @include tablets {
                            font-size: 1.5rem;
                            width: 100%;
                            text-align: center;
                        }
                        @include phones {
                            font-size: 1.5rem;
                        }
                        &::before {
                            transition: .6s;
                            display: inline-block;
                            margin-right: 5%;
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 0.25rem solid transparent;
                            border-right: 0.25rem solid transparent;
                            border-bottom: 0.5rem solid #ffffff;
                            border-top: none;
                        }
                    }
                    &__description {
                        float: left;
                        width: 70%;
                        transition: height .6s;
                        height: 0;
                        overflow: hidden;
                        margin-top: 2%;
                        @include tablets {
                            flex-direction: column;
                            align-items: center;
                        }
                        &-blockinfo {
                            float: left;
                            text-align: center;
                            align-items: flex-start;
                            flex-direction: column;
                            padding-left: 5%;
                            @include tablets {
                                display: flex;
                                align-items: center;
                                padding-left: 0;
                                padding-bottom: 1rem;
                            }
                            @include phones {
                                align-items: center;
                                padding-left: 0;
                                padding-bottom: 1rem;
                            }
                        }
                        &-position {
                            width: 60%;
                            color: #ffffff;
                            font-size: 0.8rem;
                            text-align: start;
                            @include tablets {
                                width: 100%;
                                text-align: center;
                            }
                        }
                        &-text {
                            color: #ffffff;
                            margin-top: 10%;
                            font-family: ubuntulight;
                            font-size: 0.7rem;
                            letter-spacing: 0.0625rem;
                            font-weight: 300;
                            line-height: 1.5rem;
                            @include tablets {
                                margin-top: 5%;
                            }
                        }
                    }
                }
            }
        }
    }
}
.menu-accordeon {
    @include wrapper;
    position: relative;
    background-image: url('../../img/menu-background.png');
    &-headline {
        @include headline;
        color: #ffffff;
        transform: translate(10%, 10%);
    }
    &__list {
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        display: flex;
        overflow: hidden;
        &-item {
            height: 100%;
            display:flex;
            &--active {
               & .menu-accordeon__list-item__content {
                   width: 20rem;
                   @include phones {
                       width: 10rem;
                   }
               }
               & .menu-accordeon__list-item__img-headline {
                   color: #f9b43b;
               }
            }
            &__img {
                width:5rem;
                height: 100%;
                display: flex;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                position:relative;
                @include phones {
                    width: 2rem;
                }
                &-headline {
                    background-color: transparent;
                    border-style: none;
                    @include headline;
                    font-size: 3.5rem;
                    text-decoration-line: none;
                    color: #fff;
                    white-space: nowrap; 
                    position: absolute;
                    -webkit-transform: rotate(-90deg) translate(-50%, -50%);
                    -ms-transform: rotate(-90deg) translate(-50%, -50%);
                    transform: rotate(-90deg) translate(-50%, -50%);
                    -webkit-transform-origin: 0 0;
                    -ms-transform-origin: 0 0;
                    transform-origin: 0 0;
                    left: 50%;
                    top: 50%;
                    @include tablets {
                        font-size: 2rem;
                    }
                    @include phones {
                        font-size: 1.5rem;
                    }
                }
            }
            &:nth-child(1) {
                & .menu-accordeon__list-item__img {
                    background-image:linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(../../img/photo-1468071174046-657d9d351a40.png);
                }
            }
            &:nth-child(2) {
                & .menu-accordeon__list-item__img {
                    background-image:linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(../../img/photo-1466814314367-45323ac74e2b.png);
                }
            }
            &:nth-child(3) {
                & .menu-accordeon__list-item__img {
                    background-image:linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(../../img/IMG_4084.png);
                }
            }
            &__content {
                transition: width .6s;
                font-weight: 300;
                font-size: 0.8rem;
                background: rgba(47, 50, 52, 0.93);
                line-height: 1.2rem;
                height: 100%;
                color: #fff;
                width: 0;
                overflow: hidden;
                &-description {
                    padding-right: 1.5rem;
                    width: 25rem;
                    margin-top: 3rem;
                    margin-left: 1rem;
                    @include tablets {
                        width: 18rem;
                    }
                    @include phones {
                        width: 15rem;
                    }
                }
            }
        }
    }
}
.work {
    @include wrapper;
    background-image: url('../../img/work-texture.png');
    &-headline {
        font-family: gagalinregular;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 3.5rem;
        margin: 0 auto;
        @include phones {
            font-size: 2rem;
        }
    }
    &__player {
        position: relative;
        &-bg {
            width: 100%;
            display: inline-block;
            margin: 0 auto;
        }
    }
}
.order {
    @include wrapper;
    background-image: url('../../img/location-texture.png');
    background-color: #161616;
    &-headline {
        margin: 0 auto;
        @include headline;
        color: #f9b43b;
        @include tablets {
            font-size: 3.2rem;
        }
        @include phones {
            font-size: 2.1rem;
        }
    }
}
.main-form {
        font-family: ubuntulight;
        color: #ffffff;
        height: 40%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        @include tablets {
            height: 80%;
            width: 90%;
            flex-direction: column;
            align-items: center;
            margin-top: 5%;
        }
        @include phones {
            margin-top: 1%;
        }
    &__first {
        height: 80%;
        width: 48%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        @include tablets {
            width: 80%;
        }
        @include phones {
            width: 95%;
            justify-content: flex-end;
            height: 40%;
        }
        &-user {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            &-name {
                display: flex;
                width: 48%;
                flex-direction: column;
                &-input {
                    padding-left: 0.5rem;
                    @include input;
                }
            }
            &-phone {
                display: flex;
                width: 48%;
                flex-direction: column;
                &-input {
                    padding-left: 0.5rem;
                    @include input;
                }
            }
        }
        &-street {
            
            &-block {
                display: flex;
                flex-direction: column;
                &-input {
                    padding-left: 0.5rem;
                    @include input;
                }
            }
        }
        &-home-number {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            &-block {
                display: flex;
                flex-direction: column;
                width: 20%;
                @include phones {
                    width: 30%;
                    &:last-child {
                        display: none;
                    }
                }
                &-input {
                    padding-left: 0.5rem;
                    @include input;
                }
            }
        }
    }
    &__second {
        height: 100%;
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include tablets {
            margin-top: 2%;
            width: 80%;
            justify-content: center;
        }
        @include phones {
            justify-content: flex-start;
            margin-top: 3%;
            width: 95%;
        }
        &__textarea {
            width: 100%;
            height: 50%;
            display: flex;
            &-block {
                height: 100%;
                min-width: 100%;
                &-textarea {
                    padding-top: 0.3rem;
                    padding-left: 0.5rem;
                    height: 100%;
                    min-width: 100%;
                    resize: none;
                    border-style: none;
                    border-radius: 0.3rem;
                }
            }
        }
        &__buttons {
            margin-top: 5%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            &-order {
                @include input;
                height: 2.3rem;
                margin-right: 3%;
                background-color: #E45028;
                color: #ffffff;
                font-family: ubuntulight;
                width: 6rem;
            }
            &-reset {
                margin-left: 1rem;
                background-color: rgba(0, 0, 0, 0);
                @include input;
                height: 2.3rem;
                color: #ffffff;
            }
        }
    }
}
.main-form__radio-block {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main-form__radio-box {
    width: 50%;
}
.main-form__label-box {

	margin-bottom: 0.9rem;
}

.main-form__radio-box {
	display: inline-block;
	margin-right: 1.4rem;

}


.main-form__radio {

	display: none;

}


.main-form__radio-text {
	position: absolute;
    width: 10rem;
	left: 1.6rem;
} 

 .main-form__radio-custom {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: #ffffff;
	position: relative; 

}
.main-form__radio:checked + .main-form__radio-custom:before {
	content: "";
	display: block;

	position: absolute;
	top: 0.3rem;
	left: 0.3rem;
	right: 0.3rem;
	bottom: 0.3rem;

	border-radius: 50%;
	background-color: #E45028;
}



.main-form__radio:checked + .main-form__radio-custom {
    background-color: #fff;
    display: flex;
    flex-direction: column;


}
.main-form__checkbox {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main-form__checkbox-label {
    width: 100%;
}


.main-form__checkbox {
	display: inline-block;

}


.main-form__checkbox-input {

	display: none;

}


.main-form__checkbox-text {
	position: absolute;
    width: 10rem;
	left: 1.6rem;
} 

 .main-form__checkbox-custom {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-color: #ffffff;
	position: relative; 

}

.main-form__checkbox-input:checked + .main-form__checkbox-custom:before {
	content: "";
	position: absolute;
    display: block;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid #e35028;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


.map {
    @include wrapper;
    background-image: url('../../img/location-texture.png');
    background-color: #161616;
    position: relative;
}
.container--map {
    overflow: hidden;
    position: relative;
    max-width: 1100px;
    @include tablets {
        width: 100%;
        height: 90%;
    }
    @include phones {
        width: 100%;
    }
}
.location {
    height: 100%;
    background-image: url('../../img/map.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &-img {
        display: block;
        width: 100%;
    }
}
.footer {
    margin: 0 auto;
    width: 100%;
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10%;
    @include phones {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}
.adress {
    width: 50%;
    @include phones {
        width: 100%;
        text-align: center;
    }
    &-street {
        margin-left: 5%;
        color: #ffffff;
        font-family: ubunturegular;
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.5rem;
    }
    &-phone {
        margin-left: 5%;
        color: #e45028;
        font-family: ubuntubold;
        font-weight: 700;
        font-size: 0.8rempx;
        line-height: 1.5rem;
        text-decoration: none;
        &:hover {
            & .adress-phone-icon {
                transition: .3s;
                fill: green;
                transform: rotate(30deg);
            }
        }
        &-icon {
            fill: #E45028;
            transition: .3s;
            margin-right: 3%;
            display: inline-block;
            width: 1rem;
            height: 1rem;
        }
    }
}
.socials {
    width: 50%;
    height: 100%;
    @include phones {
        width: 10rem;
        height: 3rem;
    }
    &__list {
        width: 90%;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        &-item {
            margin-left: 3%;
            &-icon {
                width: 1.5rem;
                height: 1rem;
                fill: #585858;
                transition: .3s;
                &:hover {
                    transition: .3s;
                    fill: #ffffff;
                }
            }
        }
    }
}