@charset "UTF-8";
@keyframes ball {
  0%,
    40%,
    80% {
    transform: translateY(0); }
  0% {
    opacity: 0; }
  20% {
    transform: translateY(-30px);
    opacity: 1; }
  60% {
    transform: translateY(-15px); } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  font-family: 'ubunturegular', sans-serif;
  height: 100%; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

.wrapper {
  overflow: hidden;
  min-width: 1100px;
  min-height: 100%; }

.burgers-intro {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url("../../img/texture.png"), url("../../img/video-bg.png"); }
  .burgers-intro__main {
    max-width: 1100px;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.header {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 95%; }

.menu {
  width: 75%;
  margin-top: 1.5%; }
  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .menu__list__item {
      flex: .4;
      list-style-type: none;
      font-family: ubunturegular;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 0.7rem;
      text-align: start;
      cursor: pointer; }
      .menu__list__item:nth-child(6) {
        flex: .7; }
      .menu__list__item:first-child {
        flex: .3; }
        .menu__list__item:first-child::before {
          display: none; }
      .menu__list__item:last-child {
        text-align: center;
        box-sizing: border-box;
        border-style: none;
        background-color: #e45028;
        border-radius: 6px;
        height: 100%; }
        .menu__list__item:last-child::before {
          display: none; }
      .menu__list__item::before {
        vertical-align: sub;
        margin-right: 13%;
        content: "";
        display: inline-block;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 6px;
        width: 6px;
        border-radius: 50%;
        position: static; }

.logo {
  margin-top: 1%;
  width: 95px;
  height: 70px;
  margin-right: 2%; }

.container {
  margin: 0 auto;
  height: 90%;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.sidebar {
  position: fixed;
  top: 80px;
  right: 45px; }
  .sidebar__list {
    padding: 0;
    display: flex;
    flex-flow: column; }
    .sidebar__list-item {
      display: inline-block;
      position: relative;
      list-style: none;
      margin-bottom: 10px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid transparent;
      cursor: pointer; }
      .sidebar__list-item::before {
        content: "";
        display: inline-block;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 6px;
        width: 6px;
        border-radius: 50%; }
      .sidebar__list-item:hover {
        border-color: #ffffff; }
    .sidebar__list-item--active {
      display: inline-block;
      position: relative;
      border: 1px solid #ffffff; }
      .sidebar__list-item--active::before {
        content: "";
        display: inline-block;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 6px;
        width: 6px;
        border-radius: 50%; }

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.main-image__modified {
  width: 100%;
  box-sizing: content-box; }

.wellcome-block {
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  .wellcome-block__first {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    color: #f9b43b;
    font-family: gagalinregular;
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase; }
  .wellcome-block__second {
    box-sizing: content-box;
    margin: 0;
    color: #ffffff;
    font-family: lifehackmedium;
    font-weight: 500;
    letter-spacing: -1.63px;
    font-size: 4rem;
    text-transform: none; }

.scroll-button {
  display: block;
  width: 50px;
  height: 50px;
  margin: 5% auto 0 auto;
  cursor: pointer; }
  .scroll-button:hover {
    animation: ball 1s;
    animation-iteration-count: 1; }
  .scroll-button__block {
    margin: 0 auto;
    content: "";
    width: 29px;
    height: 14px;
    display: block;
    background-image: url("../../img/arrow-scroll.svg");
    background-repeat: no-repeat;
    background-size: cover; }

.webest {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  background-image: url("../../img/bg.png"); }
  .webest__main {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    min-height: 655px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: content-box; }

.main-content {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 650px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 95%;
  box-sizing: content-box; }

.headline-webest {
  margin: 0 auto;
  font-family: gagalinregular;
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #2f3234; }

.ingredients {
  display: flex;
  flex-flow: row;
  justify-content: space-around; }

.ingredients__meat-img {
  margin: 0 auto;
  content: "";
  display: block;
  background-image: url("../../img/meat_hand_nature.png");
  background-repeat: no-repeat; }

.ingredients__made-img {
  margin: 0 auto;
  content: "";
  display: block;
  background-image: url("../../img/meat_hand_nature.png");
  background-repeat: no-repeat; }

.ingredients__nature-img {
  margin: 0 auto;
  content: "";
  display: block;
  background-image: url("../../img/meat_hand_nature.png");
  background-repeat: no-repeat; }

.ingredients__meat-img {
  width: 97px;
  height: 89px;
  background-position: -88px -5px; }

.ingredients__made-img {
  width: 73px;
  height: 85px;
  background-position: -5px -5px; }

.ingredients__nature-img {
  width: 88px;
  height: 75px;
  background-position: -195px -5px; }

.ingredients__meat-headline {
  color: #2f3234;
  font-family: lifehackmedium;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px; }

.ingredients__made-headline {
  color: #2f3234;
  font-family: lifehackmedium;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px; }

.ingredients__nature-headline {
  color: #2f3234;
  font-family: lifehackmedium;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px; }

.ingredients__meat-content {
  opacity: 0.8;
  color: #2f3234;
  font-family: ubunturegular;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 24.07px; }

.ingredients__made-content {
  opacity: 0.8;
  color: #2f3234;
  font-family: ubunturegular;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 24.07px; }

.ingredients__nature-content {
  opacity: 0.8;
  color: #2f3234;
  font-family: ubunturegular;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 24.07px; }

.ingredients__meat {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 55px; }

.ingredients__made {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 55px; }

.ingredients__nature {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 55px; }

.burgers-slider {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  background-image: url("../../img/burgers-slider-bg.png"); }
  .burgers-slider__main {
    margin: 0 auto;
    height: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .slider__scroll-btn {
    display: inline-block;
    width: 3%;
    height: 1%;
    margin-top: 20%;
    text-decoration: none;
    box-sizing: content-box; }
    .slider__scroll-btn:last-child .slider__scroll-btn-svg {
      transform: rotate(-90deg);
      width: 2.5rem;
      height: 2.5rem; }
    .slider__scroll-btn-svg {
      transform: rotate(90deg);
      width: 2.5rem;
      height: 2.5rem; }
  .slider__main {
    display: flex;
    flex-direction: row; }
    .slider__main__image-block-contains {
      position: relative;
      background-color: #f08c33;
      box-sizing: content-box;
      width: 4rem;
      text-align: center;
      display: flex;
      flex-direction: column-reverse;
      color: #ffffff;
      padding: 0.5rem 0.8rem;
      border-radius: 0.3rem;
      transition: .7s;
      cursor: pointer; }
      .slider__main__image-block-contains:hover {
        background-color: #e45028; }
        .slider__main__image-block-contains:hover .slider__main__image-block-contains-text {
          transition: .7s;
          height: 20rem; }
      .slider__main__image-block-contains-svg {
        display: block;
        margin: 0 auto;
        width: 3rem;
        height: 3rem; }
      .slider__main__image-block-contains-text {
        height: 0;
        overflow: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: 0;
        left: 100%;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        width: 16.875rem; }
        .slider__main__image-block-contains-text-ingredients {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          color: #2f3234; }
          .slider__main__image-block-contains-text-ingredients-svg {
            display: inline-block;
            width: 2rem;
            height: 2rem; }
    .slider__main__image-block-kkal {
      width: 4rem;
      height: 4rem;
      position: relative; }
      .slider__main__image-block-kkal-svg {
        width: 100%;
        height: 100%; }
      .slider__main__image-block-kkal-counter {
        position: absolute;
        text-align: center;
        top: 60%;
        bottom: 0;
        left: 25%;
        right: 0;
        width: 1.9rem;
        height: 2.3rem;
        opacity: 0.5;
        color: #ffffff;
        font-family: gagalinregular;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5rem; }
    .slider__main__description {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .slider__main__description-headline {
        font-family: gagalinregular;
        font-size: 3.5rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff; }
      .slider__main__description-text {
        color: #ffffff;
        font-family: ubunturegular;
        font-size: 0.85rem;
        font-weight: 300;
        line-height: 1.5rem; }
      .slider__main__description-price {
        font-family: gagalinregular;
        font-size: 3.5rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #e45028; }
        .slider__main__description-price-rub {
          font-size: 1.9rem; }
        .slider__main__description-price__order {
          font-family: ubunturegular;
          font-weight: 500;
          line-height: 30px;
          text-transform: uppercase;
          color: #ffffff;
          font-size: 0.7rem;
          background-color: #e45028;
          padding: 0.9rem;
          border-radius: 0.3rem;
          letter-spacing: 0.0625rem;
          font-size: 0.9rem; }

.feedback {
  height: 100vh;
  min-height: 655px; }

.main-feedback {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%; }

.feedback-reviews {
  position: relative;
  display: block;
  box-sizing: content-box;
  background-position: center center;
  background-size: cover;
  filter: grayscale(100%);
  width: 25%;
  height: 50%; }
  .feedback-reviews:hover .feedback-container {
    transition: .6s;
    opacity: 1; }

.feedback-reviews:nth-child(1) {
  background-image: url("../../img/1-avatar.png"); }

.feedback-reviews:nth-child(2) {
  background-image: url("../../img/2-avatar.png"); }

.feedback-reviews:nth-child(3) {
  background-image: url("../../img/3-avatar.png"); }

.feedback-reviews:nth-child(4) {
  background-image: url("../../img/4-avatar.png"); }

.feedback-reviews:nth-child(5) {
  background-image: url("../../img/5-avatar.png"); }

.feedback-reviews:nth-child(6) {
  background-image: url("../../img/6-avatar.png"); }

.feedback-reviews:nth-child(7) {
  background-image: url("../../img/7-avatar.png"); }

.feedback-reviews:nth-child(8) {
  background-image: url("../../img/8-avatar.png"); }

.feedback-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  text-align: left;
  padding: 10% 8%; }
  .feedback-container-username {
    display: block;
    margin-left: 15%;
    color: #ffffff;
    font-family: gagalinregular;
    font-size: 1rem;
    font-weight: 400;
    line-height: 28.11px;
    letter-spacing: 1.5px; }
  .feedback-container-content {
    display: block;
    transform: translateY(20%);
    margin-left: 15%;
    color: #ffffff;
    font-family: ubunturegular;
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 24px;
    cursor: pointer; }
  .feedback-container-button {
    text-align: center;
    display: block;
    margin-left: 15%;
    margin-top: 10%;
    border-style: none;
    box-sizing: border-box;
    height: 20%;
    max-height: 35px;
    width: 30%;
    background-color: #2f3234;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-family: ubunturegular;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase; }

.team {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  background-image: url("../../img/team-layer.png");
  position: relative; }
  .team-block {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); }
  .team-block__content {
    width: 70%;
    height: 85%;
    margin: 10% 20% 10% 10%; }
    .team-block__content-headline {
      font-family: gagalinregular;
      font-size: 3.5rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #f9b43b;
      text-align: start; }
    .team-block__content-accordeon {
      height: 100%; }
      .team-block__content-accordeon__list {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .team-block__content-accordeon__list-item {
          display: flex;
          flex-direction: column; }
          .team-block__content-accordeon__list-item--active .team-block__content-accordeon__list-item-name {
            color: #f9b43b; }
            .team-block__content-accordeon__list-item--active .team-block__content-accordeon__list-item-name::before {
              display: inline-block;
              margin-right: 5%;
              content: "";
              width: 0;
              height: 0;
              border-left: 0.25rem solid transparent;
              border-right: 0.25rem solid transparent;
              border-bottom: none;
              border-top: 0.5rem solid #f9b43b; }
          .team-block__content-accordeon__list-item--active .team-block__content-accordeon__list-item__description {
            height: 100%;
            overflow: hidden; }
          .team-block__content-accordeon__list-item-name {
            color: #ffffff;
            font-family: gagalinregular;
            font-size: 0.8125rem;
            letter-spacing: 0.0625rem;
            font-weight: 400;
            line-height: 1.75rem; }
            .team-block__content-accordeon__list-item-name::before {
              display: inline-block;
              margin-right: 5%;
              content: "";
              width: 0;
              height: 0;
              border-left: 0.25rem solid transparent;
              border-right: 0.25rem solid transparent;
              border-bottom: 0.5rem solid #ffffff;
              border-top: none; }
          .team-block__content-accordeon__list-item__description {
            margin-top: 2%;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            height: 0; }
            .team-block__content-accordeon__list-item__description-photo {
              position: relative;
              width: 30%; }
              .team-block__content-accordeon__list-item__description-photo:before {
                content: "";
                display: block;
                padding-top: 100%;
                /* С помощью этого padding мы задаем высоту равную ширине блока */ }
              .team-block__content-accordeon__list-item__description-photo-photofile {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-position: 61% center;
                /* Задаем фон, если требуется */
                background-repeat: no-repeat;
                background-size: cover;
                /* Растягиваем фон под размеры блока, если требуется */
                border-radius: 50%; }
            .team-block__content-accordeon__list-item__description-position {
              width: 60%;
              margin: 0 auto;
              color: #ffffff;
              font-size: 0.8rem;
              text-align: start; }
            .team-block__content-accordeon__list-item__description-text {
              margin-top: 10%;
              font-family: ubuntulight;
              font-size: 0.7rem;
              letter-spacing: 0.0625rem;
              font-weight: 300;
              line-height: 1.5rem; }

.menu-accordeon {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  position: relative;
  background-image: url("../../img/menu-background.png"); }
  .menu-accordeon__container {
    box-sizing: content-box;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50vmax;
    bottom: 0;
    right: 0; }
    .menu-accordeon__container-list {
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: row;
      overflow: hidden; }
      .menu-accordeon__container-list-item {
        width: 100%;
        display: flex;
        flex-direction: row; }
        .menu-accordeon__container-list-item--active .menu-accordeon__container-list-item-headline {
          color: #f9b43b; }
        .menu-accordeon__container-list-item--active .menu-accordeon__container-list-item__content {
          height: 100%; }
        .menu-accordeon__container-list-item-headline {
          width: 40vmax;
          background-image: url("../../img/photo-1468071174046-657d9d351a40.jpg.png");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover; }
          .menu-accordeon__container-list-item-headline::before {
            content: "для мясоедов";
            display: block;
            box-sizing: content-box;
            transform: rotate(-90deg);
            color: #f9b43b;
            width: 13rem;
            font-family: gagalinregular;
            font-size: 3.5rem;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-right: 70%;
            float: left; }
        .menu-accordeon__container-list-item__content {
          transform-origin: 0 0;
          height: 0;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          justify-content: end; }
          .menu-accordeon__container-list-item__content-description {
            width: 100%;
            text-align: center;
            background: rgba(0, 0, 0, 0.7);
            color: #ffffff;
            font-family: ubunturegular;
            font-size: 0.8125rem;
            font-weight: 300;
            line-height: 1.5rem; }

/*# sourceMappingURL=base.css.map */
