$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

@keyframes ball {
    0%,
    40%,
    80% {
      transform: translateY(0);
    }
  
    0% {
      opacity: 0;
    }
    20% {
      transform: translateY(-30px);
      opacity: 1;
    }
    60% {
      transform: translateY(-15px);
    }
  }
  @mixin tablets {
    @media screen and (max-width: $tablets) {
      @content;
    }
  }
  
  @mixin phones {
    @media screen and (max-width: $phones) {
      @content;
    }
  }
@mixin wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    min-height: 655px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: content-box;
    @include tablets {
        max-width: 768px;
    }
}
@mixin input {
    border-style: none;
    border-radius: 0.3rem;
    height: 2.3rem;
}
@mixin menu-buttons {
    font-family: ubunturegular;
    font-weight: 500;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.7rem;
}
@mixin point-bar {
    content: "";
    display: inline-block;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
}
@mixin headline {
    font-family: gagalinregular;
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
}



@mixin ingredients-headline {
    color: #2f3234;
    font-family: lifehackmedium;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.65rem;
    letter-spacing: -0.6px;
}
@mixin ingredients-content {
    opacity: 0.8;
    color: #2f3234;
    font-family: ubunturegular;
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.5rem;
}
@mixin avatar {
    display: block;
    box-sizing: content-box;
    background-position: center center;
    background-size: cover;
    filter: grayscale(100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'ubunturegular', sans-serif;
    height: 100%;
    @include tablets {
        font-size: 14px;
    }
    @include phones {
        font-size: 12px;
    }
}
ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style-type: none;
}

.wrapper {
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
    @include tablets {
        min-width: 0;
    }
}
.burgers-intro {
    @include wrapper;
    background-image: linear-gradient(rgba(0,0,0, .31),rgba(0,0,0, .31)), 
    url('../../img/texture.png'), url('../../img/video-bg.png');
    &__main {
        max-width:1100px;
        width: 100%;
        height: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablets {

        }
    }
}

.header {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 95%;
    @include tablets {
        justify-content: flex-end;
        max-width: 48rem;
        position: relative;
    }
}
.menu {
    width: 75%;
    margin-top: 1.5%;
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__item {
            flex: .4;
            list-style-type: none;
            @include menu-buttons;
            text-align: start;
            cursor: pointer;
            &:nth-child(6) {
                flex:.7;
            }
            &:first-child {
                flex: .3;
                &::before{
                    display: none;
                }
            }
            &::before {
                vertical-align: sub;
                margin-right: 13%;
                @include point-bar;
                position: static;
            }
        }
    }
    @include tablets {
          display: none;  
    }
    &__order {
        margin-top: 1.5%;
        @include menu-buttons;
        background-color: #e45028;
        width: 6rem;
        height: 2rem;
        border-radius: 0.4rem;
        text-align: center;
    }

}
.burgers-menu {
    display: none;
    margin-left: 2%;
    margin-top: 4.5%;
    width: 1.5rem;
    height: 0.2rem;
    position: relative;
    background-color: #ffffff;
    border-radius: 0.4rem;
    @include tablets {
        display: block;
    }
    &::after {
        margin-top: -0.5rem;
        position: absolute;
        content: "";
        display: block;
        width: 1.5rem;
        height: 0.2rem;
        background-color: #ffffff;
        border-radius: 0.4rem;
    }
    &::before {
        margin-top: 0.5rem;
        position: absolute;
        content: "";
        display: block;
        width: 1.5rem;
        height: 0.2rem;
        background-color: #ffffff;
        border-radius: 0.4rem;
    }
}
.logo {
    width: 6rem;
    height: 6rem;
    margin-right: 2%;
    @include tablets {
        position: absolute;
        top: 0;
        left: 0;
    }
}
.container {
    margin: 0 auto;
    height: 90%;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablets {
        width: 95%;
    }
    @include phones {
        width: 90%;
    }
}
.sidebar {
    position: fixed;
    top: 80px;
    right: 45px;
    @include tablets {
        display: none;
    }
    &__list {
        padding: 0;
        display: flex;
        flex-flow: column;
        &-item {
            display: inline-block;
            position: relative;
            list-style: none;
            margin-bottom: 10px;
            width: 0.9rem;
            height: 0.9rem;
            border-radius: 50%;
            border: 1px solid transparent;
            cursor: pointer;
            &::before {
                @include point-bar;
            }
            &:hover {
                border-color: #ffffff;
            }
        }
        &-item--active {
            display: inline-block;
            position: relative;
            border: 1px solid #ffffff;
            &::before {
                @include point-bar;
            }
        }
    }
}
.main {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}
.main-image {
    &__modified {
        width: 100%;
        box-sizing: content-box;
        
    }
}

.wellcome-block {
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    @include tablets {
        width: 100%;
        text-align: center;
        max-width: 26rem;
    }
    &__first {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        color: #f9b43b;
        @include headline;
    }
    &__second {
        box-sizing: content-box;
        margin: 0;
        color: #ffffff;
        font-family: lifehackmedium;
        font-weight: 500;
        letter-spacing: -1.63px;
        font-size: 4rem;
        text-transform: none;
    }
}
.scroll-button{
    margin: 0 auto;
    display: block;
    height: 5rem;
    cursor: pointer;
    &:hover {
        animation: ball 1s;
        animation-iteration-count:1;
    }
    &__block {
        width: 1.85rem;
        height: 3rem;
        display: block;
    }
}
.webest {
    @include wrapper;
    background-image: url('../../img/bg.png');
    @include tablets {
        background-image: url('../../img/bg-webest768.png');
    }
    &__main {
        @include wrapper;
    }
}
.main-content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-height: 650px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 95%;
    box-sizing: content-box;
}
.headline-webest {
    margin: 0 auto;
    @include headline;
    color: #2f3234;
    @include phones {
        margin-top: 10%;
    }
}
.ingredients {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    @include phones {
        flex-direction: column;
    } 
}

@each $sizes in (meat, made, nature) {
    .ingredients__#{$sizes}-img {
        width: 7.5rem;
        flex: 1 0 auto;
        margin: 0 auto;
        &-svg {
            display: inline-block;
            width: 100%;
            height: 58%;
        }
    }
}

@each $ingredients-array in (meat, made, nature) {
    .ingredients__#{$ingredients-array}-headline {
            @include ingredients-headline;
            text-align: center;
            @include phones {
                text-align: start;
                margin-left: 5%;
            }
    }
}
@each $ingredients-array in (meat, made, nature) {
    .ingredients__#{$ingredients-array}-content {
            @include ingredients-content;
            text-align: center;
            @include phones {
                text-align: start;
                margin-top: 5%;
            }
    }
}
@each $ingredients-array in (meat, made, nature) {
    .ingredients__#{$ingredients-array} {
            display: flex;
            flex-flow: column;
            text-align: center;
            margin-top: 4rem;
            @include tablets {
                padding: 0.5rem;
            }
            @include phones {
                max-height: 30%;
                margin-top: 2rem;
                flex-direction: row;
            }
    }
}
.burgers-slider {
    @include wrapper;
    background-image: url('../../img/burgers-slider-bg.png');
    &__main {
        margin: 0 auto;
        height: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablets {
            max-width: 768px;
            width: 95%;
        }
    }
}
.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    @include tablets {
        height: 60%;
        align-items: center;
    }
    &__scroll-btn {
        display: inline-block;
        width: 3%;
        height: 1%;
        text-decoration: none;
        box-sizing: content-box;
        &:last-child {
            & .slider__scroll-btn-svg {
                transform: rotate(-90deg);
                width: 2.5rem;
                height: 2.5rem;
            }
        }
        &-svg {
            transform: rotate(90deg);
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
    &__main {
        min-width: 100%;
        display: flex;
        flex-direction: row;
        @include tablets {
            flex-flow: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            @include phones {
                justify-content: center;
                transform: translateX(1rem);
            }
        }
        &__image-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include tablets {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            &-imgfile {
                display: inline-block;
                
                @include tablets {
                    width: 70%;
                    margin-top: 4rem;
                }
                @include phones {
                    width: 67%;
                }
                &-src {
                    @include tablets {
                        display: block;
                        width: 100%;
                    }
                }
            }
            &-contains {
                position: relative;
                background-color: #f08c33;
                box-sizing: content-box;
                width: 3rem;
                height: 3rem;
                text-align: center;
                display: flex;
                flex-direction: column-reverse;
                color: #ffffff;
                padding: 0.5rem 0.8rem;
                border-radius: 0.3rem;
                transition: .7s;
                cursor: pointer;
                @include phones {
                    transform: translateX(2rem);
                }
                &:hover {
                    background-color: #e45028;
                    & .slider__main__image-block-contains-text {
                        transition: .7s;
                        height: 20rem;
                    }
                }
                &-svg {
                    display: block;
                    margin: 0 auto;
                    width: 3rem;
                    height: 3rem;
                }
                &-text {
                    transition: .7s;
                    height: 0;
                    overflow: hidden;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    top: 0;
                    left: 100%;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(255, 255, 255, 0.9);
                    width: 16.875rem;
                    &-ingredients {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        color: #2f3234;
                        &-svg {
                            display: inline-block;
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
            }
            &-kkal {
                width: 4rem;
                height: 4rem;
                position: relative;
                @include phones {
                    width: 2.5rem;
                    height: 2.5rem;
                    transform: translateX(-2rem);
                }
                &-svg{
                    width: 100%;
                    height: 100%;
                }
                &-counter {
                    position: absolute;
                    text-align: center;
                    top: 60%;
                    bottom: 0;
                    left: 25%;
                    right: 0;
                    width: 1.9rem;
                    height: 2.3rem;
                    opacity: 0.5;
                    color: #ffffff;
                    font-family: gagalinregular;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.7rem;
                    @include phones {
                        font-size: 1rem;
                        line-height: 1.4rem;
                        top: 44%;
                        left: 18%;
                    }
                }
            }
        }
        &__description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include tablets {
                align-items: center;
            }
            &-headline {
                text-align: center;
                @include headline;
                color: #ffffff;
                margin-bottom: 3%;
                @include phones {
                    font-size: 3rem;
                    margin-left: 2%;
                    margin-right: 3%
                }
            }
            &-text {
                color: #ffffff;
                font-family: ubunturegular;
                font-size: 0.85rem;
                font-weight: 300;
                line-height: 1.5rem;
                margin-bottom: 3%;
                @include tablets {
                    margin-left: 2%;
                    text-align: center;
                }
            }
            &-price {
                @include headline;
                color: #e45028;
                &-rub   {
                    font-size: 1.9rem;
                }
                &__order {
                    @include menu-buttons;
                    background-color: #e45028;
                    padding: 0.9rem;
                    border-radius: 0.3rem;
                    letter-spacing: 0.0625rem;
                    font-size: 0.9rem;
                }
            }
        }
    }
}
.feedback {
    height: 100vh;
    min-height: 655px;
    @include tablets {
        max-width: 768px;
    }
}
.main-feedback {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.feedback-reviews {
        position: relative;
        @include avatar;
        width: 25%;
        height: 50%;
        @include tablets {
            width: 50%;
            height: 25%;
        }
        &:hover {
            .feedback-container {
            transition: .6s;
            opacity: 1;
        }
    }
}
@each $person in (1, 2, 3, 4, 5, 6, 7, 8) {
    .feedback-reviews:nth-child(#{$person}) {
        background-image: url('../../img/#{$person}-avatar.png');
    }
}
.feedback-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
    text-align: left;
    padding: 10% 8%;
    @include phones {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-username{
        display: block;
        margin-left: 15%;
        color: #ffffff;
        font-family: gagalinregular;
        font-size: 1rem;
        font-weight: 400;
        line-height: 28.11px;
        letter-spacing: 1.5px;
    }
    &-content{
        display: block;
        transform: translateY(20%);
        margin-left: 15%;
        color: #ffffff;
        font-family: ubunturegular;
        font-size: 0.8125rem;
        font-weight: 300;
        line-height: 24px;
        cursor: pointer;
        @include phones {
            display: none;
        }
    }
    &-button {
        text-align: center;
        display: block;
        margin-left: 15%;
        margin-top: 10%;
        border-style: none;
        box-sizing: border-box;
        height: 20%;
        max-height: 2.5rem;
        width: 30%;
        background-color: #2f3234;
        border-radius: 5px;
        cursor: pointer;
        color: #ffffff;
        font-family: ubunturegular;
        font-size: 0.8125rem;
        font-weight: 500;
        line-height: 30px;
        text-transform: uppercase;
        @include phones {
            width: 35%;
            height: 25%;
        }
    }
}
.team {
    @include wrapper;
    background-image: url('../../img/team-layer.png');
    position: relative;
    &-block {
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        @include tablets {
            left: 0;
            width: 100%;
        }
    }
    &-block__content {
        width: 70%;
        height: 85%;
        margin: 10% 20% 10% 10%;
        @include tablets {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-headline {
            @include headline;
            color: #f9b43b;
            text-align: start;
            @include tablets {
                text-align: center;
            }
        }
        &-accordeon {
            height: 100%;
            &__list {
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                @include tablets {
                    align-items: center;
                    justify-content: center;
                }
                &-item {
                    display: flex;
                    flex-direction: column;
                    @include tablets {
                        align-items: center;
                    }
                    &--active {
                        & .team-block__content-accordeon__list-item {
                            &-name {
                                color: #f9b43b;
                                &::before {
                                display: inline-block;
                                margin-right: 5%;
                                content: "";
                                width: 0;
                                height: 0;
                                border-left: 0.25rem solid transparent;
                                border-right: 0.25rem solid transparent;
                                border-bottom: none;
                                border-top: 0.5rem solid #f9b43b;
                                }
                            }
                        }
                        & .team-block__content-accordeon__list-item__description {
                            height: 100%;
                            overflow: hidden;
                        }
                    }
                    &-name {
                        color: #ffffff;
                        font-family: gagalinregular;
                        font-size: 0.8125rem;
                        letter-spacing: 0.0625rem;
                        font-weight: 400;
                        line-height: 1.75rem;
                        @include tablets {
                            width: 100%;
                            text-align: center;
                        }
                        &::before {
                            display: inline-block;
                            margin-right: 5%;
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 0.25rem solid transparent;
                            border-right: 0.25rem solid transparent;
                            border-bottom: 0.5rem solid #ffffff;
                            border-top: none;
                        }
                    }
                    &__description {
                        margin-top: 2%;
                        display: flex;
                        flex-direction: row;
                        overflow: hidden;
                        height: 0;
                        @include tablets {
                            flex-direction: column;
                            align-items: center;
                        }
                        &-photo {
                            position: relative;
                            width: 30%;
                            &:before {
                                content: "";
                                display: block;
                                padding-top: 100%; /* С помощью этого padding мы задаем высоту равную ширине блока */
                            }
                            &-photofile {
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                background-position: 61% center; /* Задаем фон, если требуется */
                                background-repeat: no-repeat;
                                background-size: cover; /* Растягиваем фон под размеры блока, если требуется */
                                border-radius: 50%;
                            }
                        }
                        &-position {
                            width: 60%;
                            margin: 0 auto;
                            color: #ffffff;
                            font-size: 0.8rem;
                            text-align: start;
                            @include tablets {
                                text-align: center;
                            }
                        }
                        &-text {
                            margin-top: 10%;
                            font-family: ubuntulight;
                            font-size: 0.7rem;
                            letter-spacing: 0.0625rem;
                            font-weight: 300;
                            line-height: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}
.menu-accordeon {
    @include wrapper;
    position: relative;
    background-image: url('../../img/menu-background.png');
    &__container {
        box-sizing: content-box;
        width: 100%;
        position: absolute;
        top: 0;
        left: 50vmax;
        bottom: 0;
        right: 0;
        &-list {
            height: 100%;
            margin: 0 ;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            &-item {
                width: 100%;
                display: flex;
                flex-direction: row;
                &--active {
                    & .menu-accordeon__container-list-item-headline {
                        color: #f9b43b;
                    }
                    & .menu-accordeon__container-list-item__content {
                        height: 100%;
                    }
                }
                &-headline {
                        width: 40vmax;
                        background-image: url('../../img/photo-1468071174046-657d9d351a40.jpg.png');
                        background-repeat:no-repeat;
                        background-position: center center;
                        background-size: cover;
                        &::before {
                            content: "для мясоедов";
                            display: block;
                            box-sizing: content-box;
                            transform: rotate(-90deg);
                            color: #f9b43b;
                            width: 13rem;
                            @include headline;
                            font-size: 1.5rem;
                            margin-right: 70%;
                            float: left;
                        }
                }
                &__content {
                    transform-origin: 0 0;
                    height: 0;
                    overflow: hidden;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    &-description {
                        width: 100%;
                        text-align: center;
                        background: rgba(0, 0, 0, 0.7);
                        color: #ffffff;
                        font-family: ubunturegular;
                        font-size: 0.8125rem;
                        font-weight: 300;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}
.work {
    @include wrapper;
    background-image: url('../../img/work-texture.png');
    &-headline {
        font-family: gagalinregular;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 3.5rem;
        margin: 0 auto;
        @include phones {
            font-size: 2rem;
        }
    }
    &__player {
        position: relative;
        &-bg {
            width: 100%;
            display: inline-block;
            margin: 0 auto;
        }
    }
}
.order {
    @include wrapper;
    background-image: url('../../img/location-texture.png');
    background-color: #161616;
    &-headline {
        margin: 0 auto;
        @include headline;
        color: #f9b43b;
        @include tablets {
            font-size: 3.5rem;
        }
        @include phones {
            font-size: 2.1rem;
        }
    }
}
.main-form {
        height: 30%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include tablets {
            flex-direction: column;
            align-items: center;
            margin-top: 10%;
        }
    &__first {
        height: 80%;
        width: 48%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        @include tablets {
            width: 75%;
        }
        @include phones {
            width: 95%;
        }
        &-user {
            @include input;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            &-name {
                width: 48%;
                @include input;
            }
            &-phone {
                width: 48%;
                @include input;
            }
        }
        &-street {
            display: flex;
            flex-direction: column;
            &-input {
                @include input;
            }
        }
        &-home-number {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            &-input {
                @include input;
                width: 20%;
                @include phones {
                    width: 30%;
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    &__second {
        height: 100%;
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include tablets {
            margin-top: 5%;
            width: 75%;
        }
        @include phones {
            width: 95%;
        }
        &__textarea {
            width: 100%;
            height: 50%;
            display: flex;
            &-block {
                height: 100%;
                min-width: 100%;
                resize: none;
                border-style: none;
                border-radius: 0.3rem;
            }
        }
        &__buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            &-order {
                @include input;
                margin-right: 3%;
                background-color: #E45028;
                color: #ffffff;
                font-family: ubuntulight;
                width: 6rem;
            }
            &-reset {
                background-color: rgba(0, 0, 0, 0);
                @include input;
                color: #ffffff;
            }
        }
    }
}
.map {
    @include wrapper;
    background-image: url('../../img/location-texture.png');
    background-color: #161616;
    position: relative;
}
.container--map {
    overflow: hidden;
    position: relative;
    max-width: 1100px;
    @include tablets {
        width: 100%;
    }
    @include phones {
        width: 100%;
    }
}
.location {
    height: 100%;
    background-image: url('../../img/map.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &-img {
        display: block;
        width: 100%;
    }
}
.footer {
    margin: 0 auto;
    width: 100%;
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 8%;
    max-width: 1100px;
}
.adress {
    width: 50%;
    &-street {
        margin-left: 5%;
        color: #ffffff;
        font-family: ubunturegular;
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.5rem;
    }
    &-phone {
        margin-left: 5%;
        color: #e45028;
        font-family: ubuntubold;
        font-weight: 700;
        font-size: 0.8rempx;
        line-height: 1.5rem;
        text-decoration: none;
        &:hover {
            & .adress-phone-icon {
                transition: .3s;
                fill: green;
                transform: rotate(30deg);
            }
        }
        &-icon {
            fill: #E45028;
            transition: .3s;
            margin-right: 3%;
            display: inline-block;
            width: 1rem;
            height: 1rem;
        }
    }
}
.socials {
    width: 50%;
    height: 100%;
    &__list {
        width: 90%;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        &-item {
            margin-left: 3%;
            &-icon {
                width: 1.5rem;
                height: 1rem;
                fill: #585858;
                transition: .3s;
                &:hover {
                    transition: .3s;
                    fill: #ffffff;
                }
            }
        }
    }
}