@keyframes ball {
  0%,
    40%,
    80% {
    transform: translateY(0); }
  0% {
    opacity: 0; }
  20% {
    transform: translateY(-30px);
    opacity: 1; }
  60% {
    transform: translateY(-15px); } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  font-size: 16px;
  font-family: 'ubunturegular', sans-serif;
  height: 100%; }
  @media screen and (max-width: 768px) {
    html, body {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html, body {
      font-size: 12px; } }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

.wrapper {
  overflow: hidden;
  min-height: 100%; }
  @media screen and (max-width: 768px) {
    .wrapper {
      min-width: 0; } }

.burgers-intro {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url("../../img/texture.png"), url("../../img/video-bg.png"); }
  @media screen and (max-width: 768px) {
    .burgers-intro {
      max-width: 768px; } }
  .burgers-intro__main {
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.header {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 95%; }
  @media screen and (max-width: 768px) {
    .header {
      justify-content: flex-end;
      max-width: 48rem;
      position: relative; } }

.menu {
  width: 75%;
  margin-top: 1.5%; }
  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .menu__list__item {
      flex: .4;
      list-style-type: none;
      font-family: ubunturegular;
      font-weight: 500;
      line-height: 1.8rem;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 0.7rem;
      text-align: start;
      cursor: pointer; }
      .menu__list__item:nth-child(6) {
        flex: .7; }
      .menu__list__item:first-child {
        flex: .3; }
        .menu__list__item:first-child::before {
          display: none; }
      .menu__list__item::before {
        vertical-align: sub;
        margin-right: 13%;
        content: "";
        display: inline-block;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 6px;
        width: 6px;
        border-radius: 50%;
        position: static; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }
  .menu__order {
    margin-top: 1.5%;
    font-family: ubunturegular;
    font-weight: 500;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.7rem;
    background-color: #e45028;
    width: 6rem;
    height: 2rem;
    border-radius: 0.4rem;
    text-align: center; }

.burgers-menu {
  display: none;
  margin-left: 2%;
  margin-top: 4.5%;
  width: 1.5rem;
  height: 0.2rem;
  position: relative;
  background-color: #ffffff;
  border-radius: 0.4rem; }
  @media screen and (max-width: 768px) {
    .burgers-menu {
      display: block; } }
  .burgers-menu::after {
    margin-top: -0.5rem;
    position: absolute;
    content: "";
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    background-color: #ffffff;
    border-radius: 0.4rem; }
  .burgers-menu::before {
    margin-top: 0.5rem;
    position: absolute;
    content: "";
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    background-color: #ffffff;
    border-radius: 0.4rem; }

.logo {
  width: 6rem;
  height: 6rem;
  margin-right: 2%; }
  @media screen and (max-width: 768px) {
    .logo {
      position: absolute;
      top: 0;
      left: 0; } }

.container {
  margin: 0 auto;
  height: 90%;
  width: 95%;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .container {
      width: 95%; } }
  @media screen and (max-width: 480px) {
    .container {
      width: 90%; } }

.sidebar {
  position: fixed;
  top: 80px;
  right: 45px; }
  @media screen and (max-width: 768px) {
    .sidebar {
      display: none; } }
  .sidebar__list {
    padding: 0;
    display: flex;
    flex-flow: column; }
    .sidebar__list-item {
      display: inline-block;
      position: relative;
      list-style: none;
      margin-bottom: 10px;
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
      border: 1px solid transparent;
      cursor: pointer; }
      .sidebar__list-item::before {
        content: "";
        display: inline-block;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 6px;
        width: 6px;
        border-radius: 50%; }
      .sidebar__list-item:hover {
        border-color: #ffffff; }
    .sidebar__list-item--active {
      display: inline-block;
      position: relative;
      border: 1px solid #ffffff; }
      .sidebar__list-item--active::before {
        content: "";
        display: inline-block;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 6px;
        width: 6px;
        border-radius: 50%; }

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .main {
      flex-direction: column;
      align-items: center; } }

.main-image {
  width: 50%; }
  .main-image__modified {
    display: block;
    width: 100%; }
  @media screen and (max-width: 768px) {
    .main-image {
      width: 90%; } }

.wellcome-block {
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .wellcome-block {
      width: 100%;
      text-align: center;
      max-width: 26rem; } }
  .wellcome-block__first {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    color: #f9b43b;
    font-family: gagalinregular;
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase; }
  .wellcome-block__second {
    box-sizing: content-box;
    margin: 0;
    color: #ffffff;
    font-family: lifehackmedium;
    font-weight: 500;
    letter-spacing: -1.63px;
    font-size: 3.5rem;
    text-transform: none; }

.scroll-button {
  margin: 0 auto;
  display: block;
  height: 5rem;
  cursor: pointer; }
  .scroll-button:hover {
    animation: ball 1s;
    animation-iteration-count: 1; }
  .scroll-button__block {
    width: 1.85rem;
    height: 3rem;
    display: block; }

.webest {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  background-image: url("../../img/bg.png"); }
  @media screen and (max-width: 768px) {
    .webest {
      max-width: 768px; } }
  @media screen and (max-width: 768px) {
    .webest {
      background-image: url("../../img/bg-webest768.png"); } }
  .webest__main {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    min-height: 655px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: content-box; }
    @media screen and (max-width: 768px) {
      .webest__main {
        max-width: 768px; } }

.headline-webest {
  margin: 0 auto;
  font-family: gagalinregular;
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #2f3234; }
  @media screen and (max-width: 480px) {
    .headline-webest {
      margin-top: 10%; } }

.ingredients {
  display: flex;
  flex-flow: row;
  justify-content: space-around; }
  @media screen and (max-width: 480px) {
    .ingredients {
      flex-direction: column; } }

.ingredients__meat-img {
  width: 7.5rem;
  flex: 1 0 auto;
  margin: 0 auto; }
  .ingredients__meat-img-svg {
    display: inline-block;
    width: 100%;
    height: 58%; }

.ingredients__made-img {
  width: 7.5rem;
  flex: 1 0 auto;
  margin: 0 auto; }
  .ingredients__made-img-svg {
    display: inline-block;
    width: 100%;
    height: 58%; }

.ingredients__nature-img {
  width: 7.5rem;
  flex: 1 0 auto;
  margin: 0 auto; }
  .ingredients__nature-img-svg {
    display: inline-block;
    width: 100%;
    height: 58%; }

.ingredients__meat-headline {
  color: #2f3234;
  font-family: lifehackmedium;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.65rem;
  letter-spacing: -0.6px;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .ingredients__meat-headline {
      text-align: start;
      margin-left: 5%; } }

.ingredients__made-headline {
  color: #2f3234;
  font-family: lifehackmedium;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.65rem;
  letter-spacing: -0.6px;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .ingredients__made-headline {
      text-align: start;
      margin-left: 5%; } }

.ingredients__nature-headline {
  color: #2f3234;
  font-family: lifehackmedium;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.65rem;
  letter-spacing: -0.6px;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .ingredients__nature-headline {
      text-align: start;
      margin-left: 5%; } }

.ingredients__meat-content {
  opacity: 0.8;
  color: #2f3234;
  font-family: ubunturegular;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .ingredients__meat-content {
      text-align: start;
      margin-top: 5%; } }

.ingredients__made-content {
  opacity: 0.8;
  color: #2f3234;
  font-family: ubunturegular;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .ingredients__made-content {
      text-align: start;
      margin-top: 5%; } }

.ingredients__nature-content {
  opacity: 0.8;
  color: #2f3234;
  font-family: ubunturegular;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .ingredients__nature-content {
      text-align: start;
      margin-top: 5%; } }

.ingredients__meat {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 4rem; }
  @media screen and (max-width: 768px) {
    .ingredients__meat {
      padding: 0.5rem; } }
  @media screen and (max-width: 480px) {
    .ingredients__meat {
      max-height: 30%;
      margin-top: 2rem;
      flex-direction: row; } }

.ingredients__made {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 4rem; }
  @media screen and (max-width: 768px) {
    .ingredients__made {
      padding: 0.5rem; } }
  @media screen and (max-width: 480px) {
    .ingredients__made {
      max-height: 30%;
      margin-top: 2rem;
      flex-direction: row; } }

.ingredients__nature {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: 4rem; }
  @media screen and (max-width: 768px) {
    .ingredients__nature {
      padding: 0.5rem; } }
  @media screen and (max-width: 480px) {
    .ingredients__nature {
      max-height: 30%;
      margin-top: 2rem;
      flex-direction: row; } }

.burgers-slider {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  background-image: url("../../img/burgers-slider-bg.png"); }
  @media screen and (max-width: 768px) {
    .burgers-slider {
      max-width: 768px; } }
  .burgers-slider__main {
    margin: 0 auto;
    height: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      .burgers-slider__main {
        max-width: 768px;
        width: 95%; } }

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%; }
  @media screen and (max-width: 768px) {
    .slider {
      height: 60%;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .slider {
      height: 90%; } }
  .slider__scroll-btn {
    display: inline-block;
    width: 3%;
    height: 1%;
    text-decoration: none;
    box-sizing: content-box; }
    .slider__scroll-btn:last-child .slider__scroll-btn-svg {
      transform: rotate(-90deg);
      width: 2.5rem;
      height: 2.5rem; }
    .slider__scroll-btn-svg {
      transform: rotate(90deg);
      width: 2.5rem;
      height: 2.5rem; }
  .slider__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden; }
    @media screen and (max-width: 480px) {
      .slider__list {
        height: 90%; } }
  .slider__main {
    min-width: 100%;
    display: flex;
    flex-direction: row; }
    @media screen and (max-width: 768px) {
      .slider__main {
        flex-flow: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media screen and (max-width: 480px) {
      .slider__main {
        justify-content: center; } }
    .slider__main__image-block {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (max-width: 768px) {
        .slider__main__image-block {
          width: 100%;
          position: relative;
          height: 50%; } }
      @media screen and (max-width: 480px) {
        .slider__main__image-block {
          width: 100%;
          height: 50%;
          position: relative; } }
      .slider__main__image-block-imgfile {
        display: inline-block; }
        @media screen and (max-width: 768px) {
          .slider__main__image-block-imgfile {
            width: 100%;
            margin-top: 4rem; } }
        @media screen and (max-width: 480px) {
          .slider__main__image-block-imgfile {
            width: 100%; } }
        .slider__main__image-block-imgfile-src {
          display: block;
          width: 100%; }
          @media screen and (max-width: 768px) {
            .slider__main__image-block-imgfile-src {
              display: block;
              width: 100%; } }
      .slider__main__image-block-contains {
        position: relative;
        background-color: #f08c33;
        box-sizing: content-box;
        width: 4rem;
        height: 4rem;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        color: #ffffff;
        padding: 0.5rem 0.8rem;
        border-radius: 0.3rem;
        transition: .7s;
        cursor: pointer; }
        @media screen and (max-width: 768px) {
          .slider__main__image-block-contains {
            position: absolute;
            top: 0;
            left: 0; } }
        @media screen and (max-width: 480px) {
          .slider__main__image-block-contains {
            position: absolute;
            top: 0;
            left: 0; } }
        .slider__main__image-block-contains:hover {
          background-color: #e45028; }
          .slider__main__image-block-contains:hover .slider__main__image-block-contains-text {
            transition: .7s;
            height: 20rem; }
        .slider__main__image-block-contains-svg {
          display: block;
          margin: 0 auto;
          width: 3rem;
          height: 3rem; }
        .slider__main__image-block-contains-text {
          transition: .7s;
          height: 0;
          overflow: hidden;
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          top: 0;
          left: 100%;
          bottom: 0;
          right: 0;
          background-color: rgba(255, 255, 255, 0.9);
          width: 16.875rem; }
          .slider__main__image-block-contains-text-ingredients {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: #2f3234; }
            .slider__main__image-block-contains-text-ingredients-svg {
              display: inline-block;
              width: 2rem;
              height: 2rem; }
      .slider__main__image-block-kkal {
        width: 4rem;
        height: 4rem;
        position: relative; }
        @media screen and (max-width: 768px) {
          .slider__main__image-block-kkal {
            position: absolute;
            top: 0;
            left: 90%;
            width: 3rem;
            height: 3rem; } }
        @media screen and (max-width: 480px) {
          .slider__main__image-block-kkal {
            position: absolute;
            top: 0;
            left: 90%;
            width: 2.5rem;
            height: 2.5rem; } }
        .slider__main__image-block-kkal-svg {
          width: 100%;
          height: 100%; }
        .slider__main__image-block-kkal-counter {
          position: absolute;
          text-align: center;
          top: 60%;
          bottom: 0;
          left: 25%;
          right: 0;
          width: 1.9rem;
          height: 2.3rem;
          opacity: 0.5;
          color: #ffffff;
          font-family: gagalinregular;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.7rem; }
          @media screen and (max-width: 768px) {
            .slider__main__image-block-kkal-counter {
              top: 40%; } }
          @media screen and (max-width: 480px) {
            .slider__main__image-block-kkal-counter {
              font-size: 1rem;
              line-height: 1.4rem;
              top: 44%;
              left: 18%; } }
    .slider__main__description {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (max-width: 480px) {
        .slider__main__description {
          width: 100%; } }
      @media screen and (max-width: 768px) {
        .slider__main__description {
          width: 90%;
          align-items: center; } }
      .slider__main__description-headline {
        text-align: center;
        font-family: gagalinregular;
        font-size: 3.5rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 3%; }
        @media screen and (max-width: 480px) {
          .slider__main__description-headline {
            font-size: 3rem;
            margin-left: 2%;
            margin-right: 3%; } }
      .slider__main__description-text {
        color: #ffffff;
        font-family: ubunturegular;
        font-size: 0.85rem;
        font-weight: 300;
        line-height: 1.5rem;
        margin-bottom: 3%; }
        @media screen and (max-width: 768px) {
          .slider__main__description-text {
            margin-left: 2%;
            text-align: center; } }
      .slider__main__description-price {
        font-family: gagalinregular;
        font-size: 3.5rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #e45028; }
        .slider__main__description-price-rub {
          font-size: 1.9rem; }
        .slider__main__description-price__order {
          text-decoration-line: none;
          font-family: ubunturegular;
          font-weight: 500;
          line-height: 1.8rem;
          text-transform: uppercase;
          color: #ffffff;
          font-size: 0.7rem;
          background-color: #e45028;
          padding: 0.9rem;
          border-radius: 0.3rem;
          letter-spacing: 0.0625rem;
          font-size: 0.9rem; }

.feedback {
  height: 100vh;
  min-height: 655px; }
  @media screen and (max-width: 768px) {
    .feedback {
      max-width: 768px; } }

.main-feedback {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%; }

.feedback-reviews {
  position: relative;
  display: block;
  box-sizing: content-box;
  background-position: center center;
  background-size: cover;
  filter: grayscale(100%);
  width: 25%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .feedback-reviews {
      width: 50%;
      height: 25%; } }
  .feedback-reviews:hover .feedback-container {
    transition: .6s;
    opacity: 1; }

.feedback-reviews:nth-child(1) {
  background-image: url("../../img/1-avatar.png"); }

.feedback-reviews:nth-child(2) {
  background-image: url("../../img/2-avatar.png"); }

.feedback-reviews:nth-child(3) {
  background-image: url("../../img/3-avatar.png"); }

.feedback-reviews:nth-child(4) {
  background-image: url("../../img/4-avatar.png"); }

.feedback-reviews:nth-child(5) {
  background-image: url("../../img/5-avatar.png"); }

.feedback-reviews:nth-child(6) {
  background-image: url("../../img/6-avatar.png"); }

.feedback-reviews:nth-child(7) {
  background-image: url("../../img/7-avatar.png"); }

.feedback-reviews:nth-child(8) {
  background-image: url("../../img/8-avatar.png"); }

.feedback-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  text-align: left;
  padding: 10% 8%; }
  @media screen and (max-width: 480px) {
    .feedback-container {
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  .feedback-container-username {
    display: block;
    margin-left: 15%;
    color: #ffffff;
    font-family: gagalinregular;
    font-size: 1rem;
    font-weight: 400;
    line-height: 28.11px;
    letter-spacing: 1.5px; }
  .feedback-container-content {
    max-height: 40%;
    overflow: hidden;
    display: block;
    transform: translateY(20%);
    margin-left: 15%;
    color: #ffffff;
    font-family: ubunturegular;
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 24px;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .feedback-container-content {
        max-height: 30%; } }
    @media screen and (max-width: 480px) {
      .feedback-container-content {
        display: none; } }
  .feedback-container-button {
    text-align: center;
    display: block;
    margin-left: 15%;
    margin-top: 15%;
    border-style: none;
    box-sizing: border-box;
    height: 20%;
    max-height: 2.5rem;
    width: 40%;
    background-color: #2f3234;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-family: ubunturegular;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase; }
    @media screen and (max-width: 480px) {
      .feedback-container-button {
        width: 55%;
        height: 25%; } }

.team {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  background-image: url("../../img/team-layer.png");
  position: relative; }
  @media screen and (max-width: 768px) {
    .team {
      max-width: 768px; } }
  .team-block {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); }
    @media screen and (max-width: 768px) {
      .team-block {
        left: 0;
        width: 100%; } }
  .team-block__content {
    width: 70%;
    height: 85%;
    margin: 10% 20% 10% 10%; }
    @media screen and (max-width: 768px) {
      .team-block__content {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center; } }
    .team-block__content-headline {
      font-family: gagalinregular;
      font-size: 3.5rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #f9b43b;
      text-align: start; }
      @media screen and (max-width: 768px) {
        .team-block__content-headline {
          text-align: center; } }
    .team-block__content-accordeon {
      height: 100%; }
      .team-block__content-accordeon__list {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        @media screen and (max-width: 768px) {
          .team-block__content-accordeon__list {
            align-items: center;
            justify-content: center; } }
        .team-block__content-accordeon__list-item {
          display: flex;
          flex-direction: column; }
          @media screen and (max-width: 768px) {
            .team-block__content-accordeon__list-item {
              align-items: center; } }
          .team-block__content-accordeon__list-item--active .team-block__content-accordeon__list-item-name {
            color: #f9b43b; }
            .team-block__content-accordeon__list-item--active .team-block__content-accordeon__list-item-name::before {
              display: inline-block;
              margin-right: 5%;
              content: "";
              width: 0;
              height: 0;
              border-left: 0.25rem solid transparent;
              border-right: 0.25rem solid transparent;
              border-bottom: none;
              border-top: 0.5rem solid #f9b43b; }
          .team-block__content-accordeon__list-item--active .team-block__content-accordeon__list-item__description {
            height: 100%;
            overflow: hidden; }
          .team-block__content-accordeon__list-item-name {
            text-align: left;
            border-style: none;
            background-color: transparent;
            color: #ffffff;
            font-family: gagalinregular;
            font-size: 0.8125rem;
            letter-spacing: 0.0625rem;
            font-weight: 400;
            line-height: 1.75rem; }
            @media screen and (max-width: 768px) {
              .team-block__content-accordeon__list-item-name {
                width: 100%;
                text-align: center; } }
            .team-block__content-accordeon__list-item-name::before {
              display: inline-block;
              margin-right: 5%;
              content: "";
              width: 0;
              height: 0;
              border-left: 0.25rem solid transparent;
              border-right: 0.25rem solid transparent;
              border-bottom: 0.5rem solid #ffffff;
              border-top: none; }
          .team-block__content-accordeon__list-item__description {
            margin-top: 2%;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            height: 0; }
            @media screen and (max-width: 768px) {
              .team-block__content-accordeon__list-item__description {
                flex-direction: column;
                align-items: center; } }
            .team-block__content-accordeon__list-item__description-photo {
              position: relative;
              width: 30%; }
              .team-block__content-accordeon__list-item__description-photo:before {
                content: "";
                display: block;
                padding-top: 100%; }
              .team-block__content-accordeon__list-item__description-photo-photofile {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-position: 61% center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%; }
            .team-block__content-accordeon__list-item__description-position {
              width: 60%;
              margin: 0 auto;
              color: #ffffff;
              font-size: 0.8rem;
              text-align: start; }
              @media screen and (max-width: 768px) {
                .team-block__content-accordeon__list-item__description-position {
                  text-align: center; } }
            .team-block__content-accordeon__list-item__description-text {
              margin-top: 10%;
              font-family: ubuntulight;
              font-size: 0.7rem;
              letter-spacing: 0.0625rem;
              font-weight: 300;
              line-height: 1.5rem; }

.menu-accordeon {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  position: relative;
  background-image: url("../../img/menu-background.png"); }
  @media screen and (max-width: 768px) {
    .menu-accordeon {
      max-width: 768px; } }
  .menu-accordeon-headline {
    font-family: gagalinregular;
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    transform: translate(10%, 10%); }
  .menu-accordeon__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    overflow: hidden; }
    .menu-accordeon__list-item {
      height: 100%;
      display: flex; }
      .menu-accordeon__list-item--active .menu-accordeon__list-item__content {
        width: 20rem; }
        @media screen and (max-width: 480px) {
          .menu-accordeon__list-item--active .menu-accordeon__list-item__content {
            width: 10rem; } }
      .menu-accordeon__list-item--active .menu-accordeon__list-item__img-headline {
        color: #f9b43b; }
      .menu-accordeon__list-item__img {
        width: 5rem;
        height: 100%;
        display: flex;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative; }
        @media screen and (max-width: 480px) {
          .menu-accordeon__list-item__img {
            width: 2rem; } }
        .menu-accordeon__list-item__img-headline {
          font-family: gagalinregular;
          font-size: 3.5rem;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 3.5rem;
          text-decoration-line: none;
          color: #fff;
          white-space: nowrap;
          position: absolute;
          -webkit-transform: rotate(-90deg) translate(-50%, -50%);
          -ms-transform: rotate(-90deg) translate(-50%, -50%);
          transform: rotate(-90deg) translate(-50%, -50%);
          -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
          transform-origin: 0 0;
          left: 50%;
          top: 50%; }
          @media screen and (max-width: 768px) {
            .menu-accordeon__list-item__img-headline {
              font-size: 2rem; } }
          @media screen and (max-width: 480px) {
            .menu-accordeon__list-item__img-headline {
              font-size: 1.5rem; } }
      .menu-accordeon__list-item:nth-child(1) .menu-accordeon__list-item__img {
        background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(../../img/photo-1468071174046-657d9d351a40.png); }
      .menu-accordeon__list-item:nth-child(2) .menu-accordeon__list-item__img {
        background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(../../img/photo-1466814314367-45323ac74e2b.png); }
      .menu-accordeon__list-item:nth-child(3) .menu-accordeon__list-item__img {
        background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(../../img/IMG_4084.png); }
      .menu-accordeon__list-item__content {
        font-weight: 300;
        font-size: 0.8rem;
        background: rgba(47, 50, 52, 0.93);
        line-height: 1.2rem;
        height: 100%;
        color: #fff;
        width: 0;
        overflow: hidden; }
        .menu-accordeon__list-item__content-description {
          margin-top: 10%;
          margin-left: 10%; }

.work {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  background-image: url("../../img/work-texture.png"); }
  @media screen and (max-width: 768px) {
    .work {
      max-width: 768px; } }
  .work-headline {
    font-family: gagalinregular;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin: 0 auto; }
    @media screen and (max-width: 480px) {
      .work-headline {
        font-size: 2rem; } }
  .work__player {
    position: relative; }
    .work__player-bg {
      width: 100%;
      display: inline-block;
      margin: 0 auto; }

.order {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  background-image: url("../../img/location-texture.png");
  background-color: #161616; }
  @media screen and (max-width: 768px) {
    .order {
      max-width: 768px; } }
  .order-headline {
    margin: 0 auto;
    font-family: gagalinregular;
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #f9b43b; }
    @media screen and (max-width: 768px) {
      .order-headline {
        font-size: 3.5rem; } }
    @media screen and (max-width: 480px) {
      .order-headline {
        font-size: 2.1rem; } }

.main-form {
  font-family: ubuntulight;
  color: #ffffff;
  height: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .main-form {
      width: 90%;
      flex-direction: column;
      align-items: center;
      margin-top: 5%; } }
  .main-form__first {
    height: 80%;
    width: 48%;
    display: flex;
    flex-flow: column;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .main-form__first {
        width: 75%; } }
    @media screen and (max-width: 480px) {
      .main-form__first {
        width: 95%; } }
    .main-form__first-user {
      border-style: none;
      border-radius: 0.3rem;
      height: 3.3rem;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between; }
      .main-form__first-user-name {
        display: flex;
        width: 48%;
        flex-direction: column; }
        .main-form__first-user-name-input {
          padding-left: 0.5rem;
          border-style: none;
          border-radius: 0.3rem;
          height: 3.3rem; }
      .main-form__first-user-phone {
        display: flex;
        width: 48%;
        flex-direction: column; }
        .main-form__first-user-phone-input {
          padding-left: 0.5rem;
          border-style: none;
          border-radius: 0.3rem;
          height: 3.3rem; }
    .main-form__first-street-block {
      display: flex;
      flex-direction: column; }
      .main-form__first-street-block-input {
        padding-left: 0.5rem;
        border-style: none;
        border-radius: 0.3rem;
        height: 3.3rem; }
    .main-form__first-home-number {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; }
      .main-form__first-home-number-block {
        display: flex;
        flex-direction: column;
        border-style: none;
        border-radius: 0.3rem;
        height: 3.3rem;
        width: 20%; }
        @media screen and (max-width: 480px) {
          .main-form__first-home-number-block {
            width: 30%; }
            .main-form__first-home-number-block:last-child {
              display: none; } }
        .main-form__first-home-number-block-input {
          padding-left: 0.5rem;
          border-style: none;
          border-radius: 0.3rem;
          height: 3.3rem; }
  .main-form__second {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .main-form__second {
        margin-top: 5%;
        width: 75%; } }
    @media screen and (max-width: 480px) {
      .main-form__second {
        width: 95%; } }
    .main-form__second__textarea {
      width: 100%;
      height: 50%;
      display: flex; }
      .main-form__second__textarea-block {
        height: 100%;
        min-width: 100%; }
        .main-form__second__textarea-block-textarea {
          padding-top: 0.3rem;
          padding-left: 0.5rem;
          height: 100%;
          min-width: 100%;
          resize: none;
          border-style: none;
          border-radius: 0.3rem; }
    .main-form__second__radio {
      margin-top: 5%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 80%; }
    .main-form__second__checkbox {
      margin-top: 5%; }
    .main-form__second__buttons {
      margin-top: 5%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
      .main-form__second__buttons-order {
        border-style: none;
        border-radius: 0.3rem;
        height: 3.3rem;
        height: 2.3rem;
        margin-right: 3%;
        background-color: #E45028;
        color: #ffffff;
        font-family: ubuntulight;
        width: 6rem; }
      .main-form__second__buttons-reset {
        background-color: rgba(0, 0, 0, 0);
        border-style: none;
        border-radius: 0.3rem;
        height: 3.3rem;
        height: 2.3rem;
        color: #ffffff; }

.map {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 655px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: content-box;
  background-image: url("../../img/location-texture.png");
  background-color: #161616;
  position: relative; }
  @media screen and (max-width: 768px) {
    .map {
      max-width: 768px; } }

.container--map {
  overflow: hidden;
  position: relative;
  max-width: 1100px; }
  @media screen and (max-width: 768px) {
    .container--map {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .container--map {
      width: 100%; } }

.location {
  height: 100%;
  background-image: url("../../img/map.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .location-img {
    display: block;
    width: 100%; }

.footer {
  margin: 0 auto;
  width: 100%;
  box-sizing: content-box;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10%; }
  @media screen and (max-width: 480px) {
    .footer {
      flex-direction: column;
      align-items: center; } }

.adress {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .adress {
      width: 100%;
      text-align: center; } }
  .adress-street {
    margin-left: 5%;
    color: #ffffff;
    font-family: ubunturegular;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5rem; }
  .adress-phone {
    margin-left: 5%;
    color: #e45028;
    font-family: ubuntubold;
    font-weight: 700;
    font-size: 0.8rempx;
    line-height: 1.5rem;
    text-decoration: none; }
    .adress-phone:hover .adress-phone-icon {
      transition: .3s;
      fill: green;
      transform: rotate(30deg); }
    .adress-phone-icon {
      fill: #E45028;
      transition: .3s;
      margin-right: 3%;
      display: inline-block;
      width: 1rem;
      height: 1rem; }

.socials {
  width: 50%;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .socials {
      width: 10rem;
      height: 3rem; } }
  .socials__list {
    width: 90%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end; }
    .socials__list-item {
      margin-left: 3%; }
      .socials__list-item-icon {
        width: 1.5rem;
        height: 1rem;
        fill: #585858;
        transition: .3s; }
        .socials__list-item-icon:hover {
          transition: .3s;
          fill: #ffffff; }

/*# sourceMappingURL=base.css.map */
